<a href="https://colab.research.google.com/github/ennioguzman91/Foundations-of-Computer-Science/blob/main/Progetto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You have to work on the University dataset. It contains three different university rankings:

* The Times Higher Education World University Ranking, shortly Times,
* the Academic Ranking of World Universities, shortly Shanghai,
* the Center for World University Rankings, shortly cwur.

Notes
1. It is mandatory to use GitHub for developing the project.
2. The project must be a jupyter notebook.
3. There is no restriction on the libraries that can be used, nor on the Python version
4. All questions on the project must be asked in a public channel on Zulip.

In [131]:
# Import all libraries
import pandas as pd
import numpy as np
import functools

In [89]:
from google.colab import drive
drive.mount('/content/drive')
dir_files = '/content/drive/MyDrive/Università/Data-Science-Bicocca/Corsi/Foundations-of-Computer-Science/Data/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
# Import the files
times_df = pd.read_csv(dir_files + 'timesData.csv')
shanghai_df = pd.read_csv(dir_files + 'shanghaiData.csv')
cwur_df = pd.read_csv(dir_files + 'cwurData.csv')

1. For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframes¶

In [91]:
times_df.tail()

     world_rank               university_name  ... female_male_ratio  year
2598    601-800           Yeungnam University  ...           48 : 52  2016
2599    601-800   Yıldız Technical University  ...           36 : 64  2016
2600    601-800      Yokohama City University  ...               NaN  2016
2601    601-800  Yokohama National University  ...           28 : 72  2016
2602    601-800            Yuan Ze University  ...           43 : 57  2016

[5 rows x 14 columns]

In [92]:
# times_df.head()
times_df[times_df['university_name'] == 'Harvard University']

     world_rank     university_name  ... female_male_ratio  year
0             1  Harvard University  ...               NaN  2011
201           2  Harvard University  ...               NaN  2012
605           4  Harvard University  ...               NaN  2013
1003          2  Harvard University  ...               NaN  2014
1403          2  Harvard University  ...               NaN  2015
1808          6  Harvard University  ...               NaN  2016

[6 rows x 14 columns]

In [93]:
len(times_df['university_name'].unique())

818

In [94]:
filtered_min_year = times_df.loc[ times_df.groupby('university_name')['year'].idxmin()  ]
filtered_min_year
# filtered_min[ filtered_min['university_name'] =='Harvard University']

     world_rank  ...  year
2405    601-800  ...  2016
501     301-350  ...  2012
502     301-350  ...  2012
166         167  ...  2011
476     276-300  ...  2012
...         ...  ...   ...
41           42  ...  2011
99          100  ...  2011
38           39  ...  2011
47           48  ...  2011
2134    301-350  ...  2016

[818 rows x 14 columns]

In [95]:
filtered_max_year = times_df.loc[ times_df.groupby('university_name')['year'].idxmax() ]
filtered_max_year

     world_rank  ...  year
2405    601-800  ...  2016
2003    201-250  ...  2016
2056    251-300  ...  2016
1908       =106  ...  2016
2105    301-350  ...  2016
...         ...  ...   ...
1856         54  ...  2016
2013    201-250  ...  2016
1904       =101  ...  2016
1833         31  ...  2016
2134    301-350  ...  2016

[818 rows x 14 columns]

2. For each university, compute the improvement in income between the least recent and the most recent data points

In [96]:
pd.options.display.max_rows = None

# from the dataframe to a serie with only the income
# use the university name as index

data_exe_2_max = filtered_max_year.set_index('university_name')['income']
data_exe_2_min = filtered_min_year.set_index('university_name')['income']

# Set to 0 the values that doesnt have the two income values

data_exe_2_max[ data_exe_2_min == "-"  ] = '-' 
data_exe_2_min[ data_exe_2_max == "-"  ] = '-'
data_exe_2_max = data_exe_2_max.replace('-', 0)
data_exe_2_min = data_exe_2_min.replace('-', 0)


pd.to_numeric(data_exe_2_max) - pd.to_numeric(data_exe_2_min)

university_name
AGH University of Science and Technology                               0.0
Aalborg University                                                     7.3
Aalto University                                                      -0.3
Aarhus University                                                      6.8
Aberystwyth University                                                -4.2
Adam Mickiewicz University                                             0.0
Aix-Marseille University                                               0.0
Ajou University                                                        0.0
Alexandria University                                                 -6.3
Alexandru Ioan Cuza University                                         0.0
Aligarh Muslim University                                              0.0
American University                                                    0.0
American University of Beirut                                          0.0
American University of Sharjah                                         0.0
Amirkabir University of Technology                                     0.0
Amrita University                                                      0.0
Anadolu University                                                     0.0
Andhra University                                                      0.0
Aristotle University of Thessaloniki                                   0.0
Arizona State University                                               0.0
Asia University, Taiwan                                                0.0
Aston University                                                       7.8
Athens University of Economics and Business                            0.0
Auburn University                                                    -10.1
Auckland University of Technology                                      0.0
Austral University of Chile                                            0.0
Australian National University                                         0.0
Autonomous University of Barcelona                                    -2.1
Autonomous University of Madrid                                        0.5
Babeş-Bolyai University                                                0.0
Bangor University                                                      2.0
Bar-Ilan University                                                    0.4
Bauman Moscow State Technical University                               0.0
Bayreuth University                                                   21.0
Beijing Institute of Technology                                        0.0
Belarusian State University                                            0.0
Ben-Gurion University of the Negev                                     0.0
Bielefeld University                                                   0.0
Bilkent University                                                    -2.2
Binghamton University, State University of New York                    4.5
Birkbeck, University of London                                         1.1
Birla Institute of Technology and Science, Pilani                      0.0
Blaise Pascal University                                               0.0
Boston College                                                         0.0
Boston University                                                      0.7
Bournemouth University                                                 0.0
Boğaziçi University                                                    0.8
Brandeis University                                                    4.9
Brno University of Technology                                          0.0
Brown University                                                       0.0
Brunel University London                                               4.7
Budapest University of Technology and Economics                        0.0
Cairo University                                                       0.0
California Institute of Technology                                    14.1
California State University, Long Beach                                0.0
Capital Medical University                                             0.0
Cardiff University                                                    -0.9
Carleton University                                                    0.0
Carlos III University of Madrid                                        0.0
Carnegie Mellon University                                             3.8
Case Western Reserve University                                        0.0
Catholic University of the Sacred Heart                                0.0
Ca’ Foscari University of Venice                                       0.0
Central Queensland University                                          0.0
Chalmers University of Technology                                      0.2
Chang Gung University                                                  0.0
Charité - Universitätsmedizin Berlin                                   0.0
Charles Darwin University                                             11.9
Charles University in Prague                                           3.7
Chiang Mai University                                                  0.0
Chiba University                                                       0.0
China Agricultural University                                          0.0
China Medical University, Taiwan                                      -0.4
China University of Geosciences (Wuhan)                                0.0
China University of Petroleum (Beijing)                                0.0
Chinese University of Hong Kong                                        1.1
Chonbuk National University                                            0.0
Chongqing University                                                   0.0
Chonnam National University                                            0.0
Chulalongkorn University                                               0.0
Chung Yuan Christian University                                        0.0
Chung-Ang University                                                   0.0
Chungnam National University                                           0.0
City University London                                                 0.0
City University of Hong Kong                                           0.0
Claude Bernard University Lyon 1                                       0.0
Clemson University                                                     5.0
Colorado School of Mines                                             -15.7
Colorado State University                                              0.0
Columbia University                                                    0.0
Comenius University in Bratislava                                      0.0
Complutense University of Madrid                                       0.0
Concordia University                                                   0.0
Copenhagen Business School                                             0.0
Cornell University                                                    -1.0
Coventry University                                                    0.0
Creighton University                                                   8.2
Curtin University                                                      6.5
Czech Technical University in Prague                                   0.0
Dalhousie University                                                   0.0
Dalian University of Technology                                        0.0
Dartmouth College                                                      0.0
De Montfort University                                                 0.0
Deakin University                                                      2.1
Delft University of Technology                                         0.6
Drexel University                                                      8.9
Dublin City University                                                 0.0
Dublin Institute of Technology                                         0.0
Duke University                                                        0.0
Durham University                                                      0.5
ETH Zurich – Swiss Federal Institute of Technology Zurich              0.0
East China Normal University                                           0.0
East China University of Science and Technology                        0.0
Edith Cowan University                                                 0.0
Ehime University                                                       0.0
Eindhoven University of Technology                                   -42.5
Emory University                                                       0.0
Erasmus University Rotterdam                                           0.0
Erciyes University                                                     0.0
Ewha Womans University                                                -3.7
Eötvös Loránd University                                               0.0
Federal University of Bahia                                            0.0
Federal University of Lavras                                           0.0
Federal University of Minas Gerais                                     0.0
Federal University of Paraná (UFPR)                                    0.0
Federal University of Rio Grande do Sul                                0.0
Federal University of Rio de Janeiro                                   0.0
Federal University of Santa Catarina                                   0.0
Federal University of São Carlos                                       0.0
Federal University of Viçosa                                           0.0
Federico Santa María Technical University                              7.0
Feng Chia University                                                   0.0
Flinders University                                                    5.5
Florida Institute of Technology                                        4.7
Florida International University                                       0.0
Florida State University                                               0.0
Free University of Berlin                                              4.5
Fu Jen Catholic University                                             0.0
Fudan University                                                     -12.5
Gdańsk University of Technology                                        0.0
George Mason University                                                4.0
George Washington University                                           0.0
Georgetown University                                                  0.0
Georgia Health Sciences University                                     0.0
Georgia Institute of Technology                                      -21.4
Georgia State University                                             -10.4
Ghent University                                                      -8.8
Gifu University                                                        0.0
Glasgow Caledonian University                                          0.0
Goethe University Frankfurt                                           -3.5
Graz University of Technology                                          0.0
Griffith University                                                    3.9
Gwangju Institute of Science and Technology                            0.0
Hacettepe University                                                   0.0
Hanyang University                                                    32.6
Harbin Institute of Technology                                         2.6
Harvard University                                                    10.7
Hebrew University of Jerusalem                                         6.9
Heidelberg University                                                 29.1
Heriot-Watt University                                                 4.5
Hiroshima University                                                   2.8
Hokkaido University                                                   15.0
Hong Kong Baptist University                                           2.1
Hong Kong Polytechnic University                                     -12.1
Hong Kong University of Science and Technology                         4.0
Howard University                                                      0.0
Huazhong University of Science and Technology                          0.0
Humboldt University of Berlin                                          8.3
Hunan University                                                       0.0
I-Shou University                                                      0.0
Illinois Institute of Technology                                       0.0
Imperial College London                                              -39.2
Indian Institute of Science                                           14.5
Indian Institute of Technology Bombay                                 18.1
Indian Institute of Technology Delhi                                   0.0
Indian Institute of Technology Guwahati                                0.0
Indian Institute of Technology Kanpur                                -14.4
Indian Institute of Technology Kharagpur                             -40.7
Indian Institute of Technology Madras                                  0.0
Indian Institute of Technology Roorkee                                11.0
Indiana University                                                     0.0
Inha University                                                        0.0
Instituto Superior Técnico Lisboa                                      0.0
Iowa State University                                                  4.4
Iran University of Science and Technology                              0.0
Isfahan University of Technology                                      15.4
Istanbul Technical University                                        -27.0
Istanbul University                                                    0.0
Jadavpur University                                                    0.0
Jagiellonian University                                                2.2
James Cook University                                                  0.0
Jilin University                                                       0.0
Johannes Gutenberg University of Mainz                                 0.0
Johannes Kepler University of Linz                                   -36.0
Johns Hopkins University                                               0.0
Jordan University of Science and Technology                            0.0
Joseph Fourier University                                             -4.7
Juntendo University                                                    0.0
Justus Liebig University Giessen                                       0.0
K.N. Toosi University of Technology                                    0.0
KTH Royal Institute of Technology                                    -21.9
KU Leuven                                                              2.3
Kanazawa University                                                    0.0
Kansas State University                                                7.1
Kaohsiung Medical University                                           0.0
Karlsruhe Institute of Technology                                     59.5
Karolinska Institute                                                   2.5
Kazan Federal University                                               0.0
Keele University                                                       1.2
Keio University                                                        1.4
Kent State University                                                  2.2
Khon Kaen University                                                   0.0
King Abdulaziz University                                             32.9
King Fahd University of Petroleum and Minerals                         0.0
King Mongkut’s University of Technology Thonburi                      10.1
King Saud University                                                 -36.5
Kingston University                                                    0.0
King’s College London                                                 -4.0
Kinki University                                                       0.0
Kobe University                                                       11.6
Konkuk University                                                      0.0
Korea Advanced Institute of Science and Technology (KAIST)             0.0
Korea University                                                      50.1
Koç University                                                        44.5
Kumamoto University                                                    0.0
Kyoto University                                                      11.9
Kyung Hee University                                                   9.5
Kyungpook National University                                          0.0
Kyushu Institute of Technology                                         0.0
Kyushu University                                                      8.1
LMU Munich                                                            59.6
La Trobe University                                                   14.8
Lancaster University                                                   4.8
Lappeenranta University of Technology                                  6.5
Laval University                                                       0.9
Lehigh University                                                      0.3
Leibniz University of Hanover                                         30.7
Leiden University                                                    -50.2
Lille 1 University – Science and Technology                            0.0
Lille 2 University – Health and Law                                    0.0
Linköping University                                                  10.3
Liverpool John Moores University                                       1.9
Lomonosov Moscow State University                                     15.7
London School of Economics and Political Science                      -6.2
Loughborough University                                               -2.8
Louisiana State University                                             0.0
Lund University                                                       37.2
Maastricht University                                                  0.0
Macquarie University                                                  -9.2
Mahidol University                                                    42.6
Makerere University                                                    0.0
Manchester Metropolitan University                                     0.0
Marche Polytechnic University                                          0.0
Masaryk University                                                     0.0
Massachusetts Institute of Technology                                  7.9
Massey University                                                      0.0
McGill University                                                      0.0
McMaster University                                                    0.0
Medical College of Wisconsin                                           0.0
Medical University of South Carolina                                 -10.7
Medical University of Vienna                                           0.7
Memorial University of Newfoundland                                    0.0
Miami University                                                       0.0
Michigan State University                                              0.0
Michigan Technological University                                      0.0
Middle East Technical University                                      16.1

3. Find the university with the largest increase computed in the previous point

In [97]:
largest_increase_db = pd.to_numeric(data_exe_2_max) - pd.to_numeric(data_exe_2_min)
largest_increase_db.idxmax()

'TU Dresden'

In [98]:
largest_increase_db.loc[largest_increase_db.idxmax()]

67.80000000000001

4. For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for Aarhus University the value is 122-73=49). Notice that some rankings are expressed as a range¶

In [99]:
times_df[times_df['university_name'] == 'Aarhus University']

     world_rank    university_name  ... female_male_ratio  year
166         167  Aarhus University  ...           54 : 46  2011
324         125  Aarhus University  ...           54 : 46  2012
717         116  Aarhus University  ...           54 : 46  2013
1139        138  Aarhus University  ...           54 : 46  2014
1554        153  Aarhus University  ...           54 : 46  2015
1908       =106  Aarhus University  ...           54 : 46  2016

[6 rows x 14 columns]

In [100]:
"=200".split("-")[-1].replace("=","")

'200'

In [101]:
pd.options.display.max_rows = 400
# cleaning the ranking data
ranking_db = times_df[['world_rank', 'university_name', 'year']]
ranking_db['world_rank_cleaned'] = list(map( lambda x: int(x.split("-")[0].replace("=","")), ranking_db['world_rank']  ))
ranking_db

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     world_rank  ... world_rank_cleaned
0             1  ...                  1
1             2  ...                  2
2             3  ...                  3
3             4  ...                  4
4             5  ...                  5
...         ...  ...                ...
2598    601-800  ...                601
2599    601-800  ...                601
2600    601-800  ...                601
2601    601-800  ...                601
2602    601-800  ...                601

[2603 rows x 4 columns]

In [102]:
ranking_db_min = ranking_db.loc[ ranking_db.groupby('university_name')['world_rank_cleaned'].idxmin()  ]
ranking_db_min[ranking_db_min['university_name'] == 'Aarhus University' ]

     world_rank    university_name  year  world_rank_cleaned
1908       =106  Aarhus University  2016                 106

In [103]:
pd.options.display.max_rows = 50
ranking_db_max = ranking_db.loc[ ranking_db.groupby('university_name')['world_rank_cleaned'].idxmax()  ]
ranking_db_max[ranking_db_max['university_name'] == 'Aarhus University' ]

    world_rank    university_name  year  world_rank_cleaned
166        167  Aarhus University  2011                 167

In [104]:
pd.options.display.max_rows = 50

ranking_db_total = pd.DataFrame( index = ranking_db_max['university_name'].tolist() )
ranking_db_total['rank_max'] = ranking_db_max.set_index('university_name')['world_rank_cleaned']
ranking_db_total['rank_min'] = ranking_db_min.set_index('university_name')['world_rank_cleaned']
ranking_db_total.loc['Aarhus University' ]

ranking_db_total['Diff'] = ranking_db_total['rank_max']-ranking_db_total['rank_min']
ranking_db_total

                                          rank_max  rank_min  Diff
AGH University of Science and Technology       601       601     0
Aalborg University                             351       201   150
Aalto University                               301       251    50
Aarhus University                              167       106    61
Aberystwyth University                         351       276    75
...                                            ...       ...   ...
École Normale Supérieure                        78        42    36
École Normale Supérieure de Lyon               201       100   101
École Polytechnique                            101        39    62
École Polytechnique Fédérale de Lausanne        48        31    17
Örebro University                              301       301     0

[818 rows x 3 columns]

5. Consider only the most recent data point of the times dataset. Compute the number of male and female students for each country.¶

In [117]:
pd.options.display.max_rows = 50

# cleaning the nan data
ratio_woman_male_db = times_df[['university_name', 'year', 'female_male_ratio', 'num_students']].replace('-', np.nan).dropna()
ratio_woman_male_db = ratio_woman_male_db.loc[ ratio_woman_male_db.groupby('university_name')['year'].idxmax()  ]

#processing the ratio

ratio_woman_male_db['female_male_ratio']
ratio_woman_male_db['num_students'] = list( map( lambda x: int( x.replace(',','')), ratio_woman_male_db['num_students']  )) # procesing num_students
ratio_woman_male_db['male'] = list(map( lambda x,y: round( y/100 * int(x.split(" : ")[-1]) ), ratio_woman_male_db['female_male_ratio'], ratio_woman_male_db['num_students']  )) # from ratio -> males
ratio_woman_male_db['female'] = ratio_woman_male_db['num_students'] - ratio_woman_male_db['male'] # obtaning females


ratio_woman_male_db

                               university_name  year  ...   male  female
2003                        Aalborg University  2016  ...   9059    8363
2056                          Aalto University  2016  ...  10947    5152
1908                         Aarhus University  2016  ...  10992   12903
2105                    Aberystwyth University  2016  ...   4811    4441
2404                Adam Mickiewicz University  2016  ...  11784   28849
...                                        ...   ...  ...    ...     ...
1856                  École Normale Supérieure  2016  ...   1296    1104
2013          École Normale Supérieure de Lyon  2016  ...   1131    1087
1904                       École Polytechnique  2016  ...   1992     437
1833  École Polytechnique Fédérale de Lausanne  2016  ...   7056    2610
2134                         Örebro University  2016  ...   3427    5361

[739 rows x 6 columns]

6. Find the universities where the ratio between female and male is below the average ratio (computed over all universities)¶

In [154]:

ratio_woman_male_mean_6_db = times_df[['university_name', 'year', 'female_male_ratio', 'country', 'num_students']].replace('-', np.nan).dropna()
ratio_woman_male_mean_6_db = ratio_woman_male_mean_6_db.loc[ ratio_woman_male_mean_6_db.groupby('university_name')['year'].idxmax()  ]
ratio_woman_male_mean_6_db['female'] = list(map( lambda x: int(x.split(" : ")[0]), ratio_woman_male_mean_6_db['female_male_ratio']  ))
average_ratio = ratio_woman_male_mean_6_db['female'].mean() #mean of female
ration_female_6 = ratio_woman_male_mean_6_db[ ratio_woman_male_mean_6_db['female'] > average_ratio ]
ration_female_6
# ratio_woman_male_mean_6_db
# list(ratio_woman_male_mean_6_db['university_name'] )

                     university_name  year  ... num_students female
1908               Aarhus University  2016  ...       23,895     54
2404      Adam Mickiewicz University  2016  ...       40,633     71
2057        Aix-Marseille University  2016  ...       71,749     61
2409  Alexandru Ioan Cuza University  2016  ...       25,724     63
2204             American University  2016  ...       11,604     60
...                              ...   ...  ...          ...    ...
2302               Xiamen University  2016  ...       32,921     52
1814                 Yale University  2016  ...       11,751     50
1968              Yeshiva University  2016  ...        6,753     53
2152                 York University  2016  ...       48,007     59
2134               Örebro University  2016  ...        8,788     61

[455 rows x 6 columns]

7. For each country, compute the fraction of the students in the country that are in one of the universities computed in the previous point (that is, the denominator of the ratio is the total number of students over all universities in the country).

In [159]:
pd.options.display.max_rows = None
ration_female_7 = ration_female_6.copy()
ration_female_7['num_students'] = ration_female_7['num_students'].apply(lambda x: pd.to_numeric(x.replace(',','')) )# = ration_female_6['num_students']
total_students = functools.reduce( lambda a,b: a+b, ration_female_7['num_students']  )
# ration_female_7
ration_female_7.groupby('country')['num_students'].sum()/ total_students

country
Argentina                   0.009157
Australia                   0.051074
Austria                     0.006833
Belarus                     0.002476
Belgium                     0.014335
Brazil                      0.022730
Canada                      0.047980
China                       0.018029
Colombia                    0.003284
Cyprus                      0.000581
Czech Republic              0.011591
Denmark                     0.006223
Egypt                       0.001421
Estonia                     0.000868
Finland                     0.005608
France                      0.049729
Germany                     0.044564
Greece                      0.012236
Hong Kong                   0.006782
Hungary                     0.005519
Iceland                     0.001180
India                       0.002752
Indonesia                   0.003681
Iran                        0.002679
Israel                      0.004467
Italy                       0.087833
Japan                       0.001969
Jordan                      0.005092
Latvia                      0.001276
Lebanon                     0.000650
Lithuania                   0.001607
Luxembourg                  0.000435
Macau                       0.000720
Malaysia                    0.012298
Mexico                      0.011607
Netherlands                 0.014110
New Zealand                 0.010642
Norway                      0.001861
Oman                        0.000599
Pakistan                    0.001072
Poland                      0.013986
Portugal                    0.011258
Qatar                       0.000810
Republic of Ireland         0.005413
Romania                     0.009157
Russian Federation          0.007542
Saudi Arabia                0.003032
Serbia                      0.008193
Slovakia                    0.001764
Slovenia                    0.004125
South Africa                0.027899
South Korea                 0.003595
Spain                       0.060584
Sweden                      0.009459
Switzerland                 0.007121
Taiwan                      0.007351
Thailand                    0.013241
Turkey                      0.036740
Uganda                      0.003155
Ukraine                     0.001218
United Arab Emirates        0.000779
United Kingdom              0.096339
United States of America    0.179689
Name: num_students, dtype: float64

8. Read the file educational_attainment_supplementary_data.csv, discarding any row with missing country_name or series_name

In [177]:
pd.options.display.max_rows = 500
educaction_df = pd.read_csv(dir_files + 'educational_attainment_supplementary_data.csv')
educaction_df

                                            country_name  ... 2015
0                                            Afghanistan  ...  NaN
1                                            Afghanistan  ...  NaN
2                                            Afghanistan  ...  NaN
3                                            Afghanistan  ...  NaN
4                                            Afghanistan  ...  NaN
...                                                  ...  ...  ...
79050                                                NaN  ...  NaN
79051                                                NaN  ...  NaN
79052                                                NaN  ...  NaN
79053  Data from database: Education Statistics: Educ...  ...  NaN
79054                           Last Updated: 10/20/2015  ...  NaN

[79055 rows x 29 columns]

In [196]:
education_8_db = educaction_df [ pd.notna(educaction_df['country_name']) & pd.notna(educaction_df['series_name'])  ]
education_8_db

      country_name  ... 2015
0      Afghanistan  ...  NaN
1      Afghanistan  ...  NaN
2      Afghanistan  ...  NaN
3      Afghanistan  ...  NaN
4      Afghanistan  ...  NaN
...            ...  ...  ...
79045     Zimbabwe  ...  NaN
79046     Zimbabwe  ...  NaN
79047     Zimbabwe  ...  NaN
79048     Zimbabwe  ...  NaN
79049     Zimbabwe  ...  NaN

[79050 rows x 29 columns]

9. From attainment build a dataframe with the same data, but with 4 columns: country_name, series_name, year, value

In [234]:
education_9_db_base = education_8_db[['country_name', 'series_name']].copy()
education_9_db = education_8_db.copy()

education_9_final = pd.DataFrame(columns=['country_name', 'series_name', 'year', 'value'])

for col_num in range(2, len(list(education_9_db) )) :
  for indice in  education_9_db.index.values.tolist():
    if pd.notna( education_9_db.loc[indice, list(education_9_db)[col_num]] ):
      # print('hola')
      new_row = {
        'country_name': education_9_db_base.loc[indice, 'country_name'], 
        'series_name': education_9_db_base.loc[indice, 'series_name'],
        'year': list(education_9_db)[col_num],
        'value': education_9_db.loc[indice, list(education_9_db)[col_num]]
      }
      education_9_final = education_9_final.append(new_row, ignore_index=True)
      # print(new_row)
  #   break
  # break
# print('hola')  
# print(education_9_final)

In [235]:
education_9_final

              country_name  ...    value
0              Afghanistan  ...  0.33000
1              Afghanistan  ...  1.03000
2              Afghanistan  ...  0.83000
3              Afghanistan  ...  2.34000
4              Afghanistan  ...  0.54000
...                    ...  ...      ...
318285  West Bank and Gaza  ...  1.48356
318286  West Bank and Gaza  ...  1.88820
318287  West Bank and Gaza  ...  0.00000
318288  West Bank and Gaza  ...  0.00000
318289  West Bank and Gaza  ...  0.00000

[318290 rows x 4 columns]

10. For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking).¶

In [245]:

number_ranking_10 = times_df[['university_name', 'world_rank', 'year' ]]
number_ranking_10.groupby('university_name').count()

                                          world_rank  year
university_name
AGH University of Science and Technology           1     1
Aalborg University                                 5     5
Aalto University                                   5     5
Aarhus University                                  6     6
Aberystwyth University                             5     5
...                                              ...   ...
École Normale Supérieure                           6     6
École Normale Supérieure de Lyon                   6     6
École Polytechnique                                6     6
École Polytechnique Fédérale de Lausanne           6     6
Örebro University                                  1     1

[818 rows x 2 columns]

11. In the times ranking, compute the number of times each university appears

In [249]:
numbers_11 = times_df[['university_name', 'year']]
numbers_11.groupby('university_name').count()

                                          year
university_name
AGH University of Science and Technology     1
Aalborg University                           5
Aalto University                             5
Aarhus University                            6
Aberystwyth University                       5
...                                        ...
École Normale Supérieure                     6
École Normale Supérieure de Lyon             6
École Polytechnique                          6
École Polytechnique Fédérale de Lausanne     6
Örebro University                            1

[818 rows x 1 columns]

12. Find the universities that appear at most twice in the times ranking.

In [251]:
number_ranking_12 = times_df[['university_name', 'world_rank', 'year' ]]
group_ranking_12 = number_ranking_10.groupby('university_name').count()
group_ranking_12[ group_ranking_12['world_rank'] >= 2 ]

                                                    world_rank  year
university_name
Aalborg University                                           5     5
Aalto University                                             5     5
Aarhus University                                            6     6
Aberystwyth University                                       5     5
Alexandria University                                        3     3
Arizona State University                                     6     6
Aston University                                             3     3
Auburn University                                            2     2
Australian National University                               6     6
Autonomous University of Barcelona                           5     5
Autonomous University of Madrid                              5     5
Bangor University                                            5     5
Bar-Ilan University                                          2     2
Bayreuth University                                          4     4
Bielefeld University                                         6     6
Bilkent University                                           6     6
Binghamton University, State University of New ...           3     3
Birkbeck, University of London                               6     6
Boston College                                               6     6
Boston University                                            6     6
Boğaziçi University                                          5     5
Brandeis University                                          5     5
Brown University                                             6     6
Brunel University London                                     5     5
California Institute of Technology                           6     6
Cardiff University                                           5     5
Carleton University                                          5     5
Carnegie Mellon University                                   6     6
Case Western Reserve University                              6     6
Chalmers University of Technology                            5     5
Charles Darwin University                                    5     5
Charles University in Prague                                 5     5
China Medical University, Taiwan                             2     2
Chinese University of Hong Kong                              5     5
City University of Hong Kong                                 5     5
Claude Bernard University Lyon 1                             4     4
Clemson University                                           2     2
Colorado School of Mines                                     5     5
Colorado State University                                    5     5
Columbia University                                          6     6
Cornell University                                           6     6
Creighton University                                         4     4
Curtin University                                            3     3
Dalhousie University                                         6     6
Dartmouth College                                            6     6
Deakin University                                            5     5
Delft University of Technology                               6     6
Drexel University                                            6     6
Duke University                                              6     6
Durham University                                            6     6
ETH Zurich – Swiss Federal Institute of Technol...           6     6
Eindhoven University of Technology                           6     6
Emory University                                             6     6
Erasmus University Rotterdam                                 6     6
Ewha Womans University                                       2     2
Federico Santa María Technical University                    2     2
Flinders University                                          3     3
Florida Institute of Technology                              4     4
Free University of Berlin                                    5     5
Fudan University                                             5     5
George Mason University                                      5     5
George Washington University                                 6     6
Georgetown University                                        6     6
Georgia Health Sciences University                           4     4
Georgia Institute of Technology                              6     6
Georgia State University                                     2     2
Ghent University                                             6     6
Goethe University Frankfurt                                  6     6
Griffith University                                          2     2
Hanyang University                                           3     3
Harbin Institute of Technology                               2     2
Harvard University                                           6     6
Hebrew University of Jerusalem                               5     5
Heidelberg University                                        6     6
Heriot-Watt University                                       4     4
Hiroshima University                                         2     2
Hokkaido University                                          5     5
Hong Kong Baptist University                                 6     6
Hong Kong Polytechnic University                             6     6
Hong Kong University of Science and Technology               6     6
Humboldt University of Berlin                                6     6
Imperial College London                                      6     6
Indian Institute of Science                                  2     2
Indian Institute of Technology Bombay                        4     4
Indian Institute of Technology Delhi                         2     2
Indian Institute of Technology Kanpur                        2     2
Indian Institute of Technology Kharagpur                     3     3
Indian Institute of Technology Roorkee                       4     4
Indiana University                                           6     6
Iowa State University                                        6     6
Isfahan University of Technology                             2     2
Istanbul Technical University                                5     5
Jagiellonian University                                      3     3
Johannes Gutenberg University of Mainz                       2     2
Johannes Kepler University of Linz                           4     4
Johns Hopkins University                                     6     6
Joseph Fourier University                                    4     4
KTH Royal Institute of Technology                            6     6
KU Leuven                                                    6     6
Kansas State University                                      4     4
Karlsruhe Institute of Technology                            6     6
Karolinska Institute                                         6     6
Keele University                                             4     4
Keio University                                              3     3
Kent State University                                        3     3
King Abdulaziz University                                    3     3
King Mongkut’s University of Technology Thonburi             4     4
King Saud University                                         2     2
King’s College London                                        6     6
Kobe University                                              2     2
Korea Advanced Institute of Science and Technol...           6     6
Korea University                                             5     5
Koç University                                               4     4
Kyoto University                                             6     6
Kyung Hee University                                         2     2
Kyushu University                                            5     5
LMU Munich                                                   6     6
La Trobe University                                          2     2
Lancaster University                                         6     6
Lappeenranta University of Technology                        2     2
Laval University                                             4     4
Lehigh University                                            5     5
Leibniz University of Hanover                                4     4
Leiden University                                            6     6
Linköping University                                         5     5
Liverpool John Moores University                             3     3
Lomonosov Moscow State University                            5     5
London School of Economics and Political Science             6     6
Loughborough University                                      4     4
Lund University                                              6     6
Maastricht University                                        5     5
Macquarie University                                         5     5
Mahidol University                                           2     2
Massachusetts Institute of Technology                        6     6
Massey University                                            3     3
McGill University                                            6     6
McMaster University                                          6     6
Medical University of South Carolina                         2     2
Medical University of Vienna                                 4     4
Michigan State University                                    6     6
Middle East Technical University                             6     6
Mines ParisTech                                              3     3
Monash University                                            6     6
Montpellier University                                       5     5
Murdoch University                                           4     4
Nagoya University                                            5     5
Nanjing University                                           6     6
Nanyang Technological University                             6     6
National Autonomous University of Mexico                     2     2
National Central University                                  4     4
National Cheng Kung University                               4     4
National Chiao Tung University                               6     6
National Research Nuclear University MePhI                   2     2
National Sun Yat-Sen University                              6     6
National Taiwan Ocean University                             2     2
National Taiwan University                                   6     6
National Taiwan University of Science and Techn...           5     5
National Tsing Hua University                                6     6
National University of Ireland, Galway                       5     5
National University of Ireland, Maynooth                     4     4
National University of Singapore                             6     6
New Jersey Institute of Technology                           2     2
New University of Lisbon                                     2     2
New York University                                          6     6
Newcastle University                                         6     6
North Carolina State University                              2     2
Northeastern University                                      5     5
Northwestern University                                      6     6
Norwegian University of Science and Technology               5     5
Novosibirsk State University                                 2     2
Ohio State University                                        6     6
Old Dominion University                                      2     2
Oregon State University                                      4     4
Osaka University                                             6     6
Panjab University                                            3     3
Paris Dauphine University                                    2     2
Paris Diderot University – Paris 7                           5     5
Paris-Sud University                                         4     4
Peking University                                            6     6
Pennsylvania State University                                6     6
Pierre and Marie Curie University                            6     6
Plymouth University                                          4     4
Pohang University of Science and Technology                  6     6
Polytechnic University of Catalonia                          2     2
Polytechnic University of Milan                              5     5
Polytechnic University of Turin                              2     2
Polytechnic University of Valencia                           4     4
Pompeu Fabra University                                      6     6
Pontifical Catholic University of Chile                      2     2
Princeton University                                         6     6
Purdue University                                            6     6
Queen Mary University of London                              6     6
Queensland University of Technology                          5     5
Queen’s University                                           5     5
Queen’s University Belfast                                   5     5
RWTH Aachen University                                       6     6
Radboud University Nijmegen                                  5     5
Renmin University of China                                   4     4
Rensselaer Polytechnic Institute                             6     6
Rice University                                              6     6
Royal College of Surgeons in Ireland                         2     2
Royal Holloway, University of London                         6     6
Ruhr University Bochum                                       5     5
Rutgers, the State University of New Jersey                  6     6
Sabancı University                                           2     2
Saint Petersburg State University                            2     2
San Diego State University                                   3     3
Sapienza University of Rome                                  5     5
Scuola Normale Superiore di Pisa                             2     2
Seoul National University                                    6     6
Shanghai Jiao Tong University                                5     5
Sharif University of Technology                              5     5
Simon Fraser University                                      6     6
St George’s, University of London                            4     4
Stanford University                                          6     6
State University of Campinas                                 5     5
State University of New York Albany                          5     5
Stellenbosch University                                      5     5
Stockholm University                                         6     6
Stony Brook University                                       6     6
Sun Yat-sen University                                       6     6
Sungkyunkwan University (SKKU)                               5     5
Swansea University                                           2     2
Swedish University of Agricultural Sciences                  6     6
Swinburne University of Technology                           4     4
Syracuse University                                          2     2
TU Dresden                                                   5     5
Technical University of Darmstadt                            5     5
Technical University of Denmark                              6     6
Technical University of Munich                               6     6
Technion Israel Institute of Technology                      5     5
Tel Aviv University                                          5     5
Temple University                                            3     3
Texas A&M University                                         5     5
The University of Queensland                                 6     6
Tilburg University                                           5     5
Tohoku University                                            6     6
Tokyo Institute of Technology                                6     6
Tokyo Medical and Dental University (TMDU)                   5     5
Tokyo Metropolitan University                                5     5
Tokyo University of Agriculture and Technology               2     2
Trinity College Dublin                                       6     6
Tsinghua University                                          6     6
Tufts University                                             6     6
Tulane University                                            5     5
UiT The Arctic University of Norway                          5     5
Ulm University                                               4     4
Umeå University                                              5     5
University College Cork                                      5     5
University College Dublin                                    6     6
University College London                                    6     6
University at Buffalo                                        5     5
University of Aberdeen                                       6     6
University of Adelaide                                       6     6
University of Alaska Fairbanks                               2     2
University of Alberta                                        6     6
University of Amsterdam                                      6     6
University of Antwerp                                        5     5
University of Arizona                                        6     6
University of Auckland                                       6     6
University of Aveiro                                         3     3
University of Barcelona                                      6     6
University of Bari Aldo Moro                                 4     4
University of Basel                                          6     6
University of Bath                                           5     5
University of Bergen                                         6     6
University of Bern                                           5     5
University of Birmingham                                     6     6
University of Bologna                                        5     5
University of Bonn                                           5     5
University of Bremen                                         2     2
University of Bristol                                        6     6
University of British Columbia                               6     6
University of Calgary                                        5     5
University of California, Berkeley                           6     6
University of California, Davis                              6     6
University of California, Irvine                             6     6
University of California, Los Angeles                        6     6
University of California, Riverside                          6     6
University of California, San Diego                          6     6
University of California, Santa Barbara                      6     6
University of California, Santa Cruz                         6     6
University of Cambridge                                      6     6
University of Canterbury                                     5     5
University of Cape Town                                      6     6
University of Chicago                                        6     6
University of Cincinnati                                     6     6
University of Coimbra                                        2     2